<div class="container">
  <div class="page-header">
    <h1>Witaj w czacie grupowym
      <small><br>Jeśli potrafisz przekroczyć ten próg, to wiedz, że jesteś wybrańcem!!!</small>
    </h1>
  </div>

  {{outlet}}
</div>
